#about {
    width: 100%;
    height: 100%;
    min-height: 500px;

    padding: 2em 0 5em 0;

    z-index: 3;
}

.fotoCaique {
    width: 250px;
    height: 250px;
    border-radius: 50%;

    border: var(--sec-color) solid 3px;

    margin: 2em 0;

}

